a{
	text-decoration: none;
}
input{
	margin: 0;
}
body, ul, li, a{
	padding: 0;
	margin: 0;
}
em{
	font-style: normal;
}
body{
	font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
	font-size: 14px;
	color: #333;
}
li{
	list-style-type: none;
}
.nmPageRight,.nmUserLI,.nmUserLeft,.nmPageLeft,.nmPageImg,.banner_bg,.banner_control,.workNav,.recommend{
	float: left;
}
.navmain{
	min-width: 1024px;
	height: 86px;
	background: #333;
}
.navmain a{
	color: #C4C3C3;
}
.nmUserNav{
	padding: 0 5px;
	height: 30px;
	position: relative;
	max-width: 1308px;
	margin: 0 auto;
	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}
.nmUserLeft{
	padding: 5px;
}
.navmain .lgApp{
	background: url(http://pstatic.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_4940eb3.png) 10px 3px no-repeat;
	padding: 0 10px 0 27px;
	color: #00b38a;
}
.lgApp:hover{
	color: #08d7a2;
}
.goCompany, .nmUserLI{
	color: #c4c3c3;
	border-left: 1px solid #5d5d5d;
}
.goCompany, .nmUserLI a, .nmUserLI span{
	padding: 0 12px;	
}
.goCompany:hover, .nmUserLI:hover>a,.hasUserName:hover>span{
	color: #FFFFFF;
}
.noLeftBorder{
	border: none;
}
.nmUserUL{
	float: right;
}
.nmUserLI{
	line-height: 30px;
}
.hasUserName{
	padding-right: 15px;
}
.nmuIcon{
	position: absolute;
	width: 0;
	height: 0;
	border-width: 5px 4px;
	border-style: solid;
	border-color: white transparent transparent;
	top: 13px;
	right: 10px;
	-webkit-transition: all .3s linear 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.hasUserName:hover .nmuIcon{
	top: 9px;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg); /* Firefox 4 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}
.hasUserName{
	cursor: pointer;
	padding-right: 10px;
}
.nmunUL{
	background: #333333;
	position: absolute;
	min-width: 80px;
	padding-bottom: 8px;
	display: none;
	right: 0;
	top: 30px;
	z-index: 1000;
}
.nmunUL>a{
	margin: 0 auto;
}
.nmunUL li:hover{
	background-color: rgba(196,195,196,0.3);
}
 .nmunUL li:hover a{
 	color: white;
 }
.nmPageNav{
	min-width: 1024px;
	height: 54px;
	font-size: 18px;
	border-top:1px solid #d2d2d2;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fafafa;
}

.nmpnCenter{
	width: 1024px;
	margin: 0 auto;
}
.nmPageLeft{
	width: 264px;
	height: 54px;
}

.nmPageImg img{
	margin: 10px 10px 0;
}
.nmPageCity{
	padding-top: 20px;
	float: left;
}
.nmPageCity em{
	margin-left: 10px;
	cursor: pointer;
	font-size: 12px;
}

.nmpLI{
	line-height: 50px;
	padding: 2px 5px 0 5px;
	margin: 0 16px;
	float: left;
}
.nmpLI.active{
	border-bottom: solid 2px #00B38A;
}
.nmpLI.active>a{
	color:black
}
.nmpLI:hover{
	border-bottom: solid 2px #00B38A;
}
.nmpLI:hover>a{
	color: black;
}
.contentMain{
	width: 1024px;
	margin: 30px auto;
}
.cmNav{
	width: 230px;
	float: left;
	background-color: #FAFAFA ;
}
.cmNavSection{
	position: relative;
}
.hopeJob{
	position: relative;
	padding: 6px 12px;
	border: solid 2px #FAFAFA;
	border-right: 0;
	overflow: hidden;
}
.cmNavSection .current{
	width: 206px;
	border-color: #c9cbce;
	background-color: white;
	z-index: 102;
}
.hopeJob a{
	color: #555;
	padding:  0 8px;
	float: left;
	margin: 5px 7px 10px 0;
}
.cmNav a:hover{
	color: #00B38A;
}
.cmNavIcon{
	width: 13px;
	height: 14px;
	background: url(http://pstatic.lagou.com/www/static/index/modules/sidebar/img/arr_6c6ecd7.png) 0 0 no-repeat;
	float: right;
	margin-top: 4px;
}
.navBox a{
	color: #777;
}
.navBox{
	width: 540px;
	position: absolute;
	display: none;
	top: 0px;
	left: 230px;
	border: solid 2px #C9CBCE;
	background-color: white;
	padding: 6px 30px;
	overflow: hidden;
	z-index: 101;
}
.navBox dt{
	float: left;
	text-decoration: underline;
	line-height: 25px;
}
.navBox dd{
	margin-left: 70px;
}
.navBox dd a{
	padding: 0 10px;
	line-height: 25px;
	background: url(http://pstatic.lagou.com/www/static/index/modules/sidebar/img/arr_6c6ecd7.png) -29px center no-repeat;
	white-space: nowrap;
}
.cmContent{
	width: 746px;
	margin-left: 278px;
}
.search{
	height: 37px;
}
.searchInput{
	float: left;
	width: 570px;
	line-height: 23px;
	border: 2px solid #00B38A;
	font-size: 16px;
	padding: 5px 8px 5px 10px;
}
.searchSubmit{
	float: left;
	width: 147px;
	height: 37px;
	color: white;
	font-size: 18px;
	background-color: #00B38A;
	border:2px solid #00B38A;
}
.cmContent .hotSearch dl{
	margin-top: 5px;
}
.cmContent .hotSearch dt{
	float: left;
}
.cmContent .hotSearch a{
	padding: 0 10px;
	color: #00B38A;
}
.cmContent .hotSearch a:hover{
	text-decoration: underline;
}
.banner{
	height: 175px;
	float: left;
	overflow: hidden;
}

.banner_bg{
	height: 160px;
	overflow: hidden;
}
.banner_bg li{
	display: none;
}
.banner .active{
	display: block;
}
.banner_control li img{
	width: 113px;
	height: 42px;
	padding: 4px 10px;
}
.banner_control .active{
	background: url(http://pstatic.lagou.com/www/static/index/modules/banner/img/control_current_3d8ebbe.png) 0 0 no-repeat;
}
.recommend li{
	float: left;
	width: 117px;
	height: 117px;
	overflow: hidden;
	position: relative;
	margin-right: 8.8px;
}
.recommend .end{
	margin: 0;
}
.recommend img{
	width: 113px;
	height: 113px;
	border: solid 2px #FAFAFA;
}
.recommendInfo{
	display: block;
	top: 100%;
	left: 0px;
	height: 117px;
	width: 117px;
	overflow: hidden;
	position: absolute;
	background: rgba(0,179,138,0.9);
	transition: all 300ms ease;
	-o-transition: width 2s;
}
.recommendInfo h2{
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	margin: 10px 8px 8px;
	text-align: center;
	font-weight: 400;
}
.recommendInfo em{
	display: block;
	width: 100px;
	height: 5px;
	background: rgba(255,255,255,0.3);
	filter: alpha(opacity=30);
	margin: 0 auto;
}
.recommendInfo p{
	font-size: 12px;
	margin: 6px 8px;
	line-height: 18px;;
}
.workNavUl{
	float: left;
	width: 100%;
	margin-top: 20px;
	background: #f6f6f6;
}
.workNavLi{
	display: inline-block;
	cursor: pointer;
	padding: 7px 20px;
	font-size: 18px;
	color: #999;
}
.workNavUl .active{
	border-top: 3px solid #00B38A;
	background: #FFFFFF;
	color: black;
}
.cmWork{
	float: left;
}
.cmWorkLi{
	width: 744px;
	height: 123px;
	font-size: 14px;
	border-bottom: 1px dashed #e1e1e1;
}
.cmwlTop{
	height: 55px;
	padding: 20px 0 5px 0;
}
.cmwlSign{
	background: #FAFAFA;
	height: 43px;
}
.wlTopLeft{
	float: left;
	width: 400px;
	margin-left: 20px;
}
.wlTopLeft .salary{
	font-size: 16px;
	color: red;
	margin-right: 20px;
}
.workName, .company{
	height: 34px;
}
.workName>span{
	margin: 10px;
	color: #999;
}
.workName h2, .company h2{
	margin: 0;
	float: left;
	color: #00B38A;
	font-size: 16px;
}
.wlTopRight{
	float: left;
	width: 309px;
}
.keyDescribe{
	float: left;
	width: 400px;
	margin-left: 20px;
	margin-top: 12px;
}
.keyWord{
	margin-top: 12px;
	float: left;
}
.keyWord span{
	padding: 3px;
	margin-right: 5px;
	border: 1px solid #dcdcdc;
}
.friendLink{
	float: left;
}
.friendLink dt{
	float: left;
}
.friendLink dd{
	margin-left: 70px;
}
.friendLink a{
	padding: 0 10px;
	line-height: 25px;
	color: #555555;
	background: url(http://pstatic.lagou.com/www/static/index/modules/sidebar/img/arr_6c6ecd7.png) -29px center no-repeat;
	white-space: nowrap;
}
.friendLink a:hover{
	text-decoration: underline;
	color: blue;
}
.backMain{
	width: 28px;
	height: 64px;
	position: fixed;
	display: none;
	bottom: 140px;
	margin-left: 548px;
	left: 50%;
	background: url(http://pstatic.lagou.com/www/static/common/widgets/footer_c/modules/img/backtop_6e69c27.png) 0px 0px no-repeat;
}
.backMain:hover{
	background-position-x: -28px;
}
.footer{
	width: 100%;
	padding: 12px 0;
	border-top: 1px solid #ebebeb;
	float: left;
}
.footer .center{
	width: 1024px;
	position: relative;
	margin: 0 auto;
}
.footer .imgSize{
	position: relative;
}
.footer .imgSize img{
	left: 0;
	top: -268px;
	width: 256px;
	height: 256px;
	position: absolute;
	display: none;
	border: 3px solid #00B38A;
}
.footer .logo{
	width: 198px;
	height: 19px;
	float: left;
	background: url(http://pstatic.lagou.com/www/static/common/widgets/footer_c/modules/img/footer_lagou_icon_66d2b4b.png) 0 0 no-repeat;
}
.footer .about{
	float: right;
}
.footer .about a{
	color: #555555;
	margin-right: 15px;
}
.footer .copyright{
	clear: both;
	width: 380px;
	margin: 0 auto;
	padding: 15px 0;
	font-size: 12px;
	color: #d5d5d5;
}
